<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Intro</title>
	 {% load static %}
    <link rel="stylesheet" href="{% static 'css/race.css' %}">
	<script>
      function openA(obj) {
      document.querySelector(".AAA").style.display = "block";
      document.querySelector(".BBB").style.display = "none";
      }
      function openB(obj) {
      document.querySelector(".BBB").style.display = "block";
      document.querySelector(".AAA").style.display = "none";
      }

  </script>

</head>
<body>

<div class="parent_head" >
        {% load static %}
        <a href="{% url 'gun:index' %}"><img class="tohome" src="{% static 'media/stop_gun2.png' %}" width="100%" height="300px" align="center"></a>
    </div>
	<div class="bgimg">
    <br>
     <div  align="center">
        <nav>
            {% load static %}
        <a type="button" class="myButton" href="{% url 'gun:intro' %}"><span>Intro</span></a>
        <a class="myButton a" href="{% url 'gun:race' %}"><span>Race</span></a>
        <a class="myButton b" href="{% url 'gun:poverty' %}"><span>Poverty Rate</span></a>
        <a class="myButton c" href="{% url 'gun:unemployment' %}"><span>Unemployment Rate</span></a>
        <a class="myButton d" href="{% url 'gun:result' %}"><span>Result</span></a>
        </nav>
    <br>
	</div>

	<br>

	<div id="intro">
		<img src="{% static 'media/gun_project/7_21_gun_death_new.png' %}" width="100%" height="800px	">
		<div id="intro_text">
		<p> 
		7월 21일 기준 미국 총기 사망자 수 24,602명 </p>
		</div>
	</div>
	<div id="independent">
		<img src="{% static 'media/gun_project/independentday.jpg' %}" width="100%" height="800px">
		<div class="independent_text">
			<p>
			미국 독립기념일 연휴 3일간<br>
			총기 사고 약 400건<br>
			사망 최소 150명
			</p>
		</div>
	</div>
	<div id="Biden">
		<img src="{% static 'media/gun_project/gunlimit.jpg' %}" width="100%" height="850px	">
		<div class="Biden_text">
			<p>
			이러한 사고를 줄이고자<br>
			바이든 대통령이 4월에 언급한<br>
			총기 규제에 대한 법안
			</p>
		</div>
			<img class="bubble" src="{% static 'media/gun_project/bubble_2.png' py%}">
			
		<div class="bubble_text">
			<p>
			총기 사고는<br><br>
			<b>마약</b>과도 같다!
		</div>	
	</div>
		
	<div id="whiteman">
		<img src="{% static 'media/gun_project/whiteman.jpg' %}" width="100%" height="850px	">
		<div class="whiteman_text">
			<p class="whiteman_text_1">
			이에 총기옹호론자들의<br>
			시위가 벌어지게 되는데
			</p>
			
			<p class="whiteman_text_2">
			시위의 주 참석자는<br>
			<b>백인 남성</b>이었다.
		</div>
	</div>
	<div id="question">
		<img src="{% static 'media/gun_project/questionmark.jpg' %}" width="100%" height="800px	">
		<p class="question_text">
		이들은 왜<br>
		이토록 위험한 총기를<br>
		규제하는 것을 반대하는 것일까?<br><br>
		그들과 총기 사고와는<br>
		어떤 관계가 있을까?
		</p>
	</div>
	</div>
</body>
</html>