<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Race</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/race.css' %}">
    <script>
    function changeRace(){
        let key = id_race.value;
        if(key == "White"){
        document.querySelector(".white").style.display = "block";
        document.querySelector(".black").style.display = "none";
        document.querySelector(".asian").style.display = "none";
        }
        if(key == "Asian") {
        document.querySelector(".white").style.display = "none";
        document.querySelector(".black").style.display = "none";
        document.querySelector(".asian").style.display = "block";
        }
        if(key == "Black") {
        document.querySelector(".white").style.display = "none";
        document.querySelector(".black").style.display = "block";
        document.querySelector(".asian").style.display = "none";
        }
    }




    </script>

</head>
<body>
    <div class="parent_head" >
        {% load static %}
        <a href="{% url 'gun:index' %}"><img class="tohome" src="{% static 'media/stop_gun2.png' %}" width="100%" height="300px" align="center"></a>
    </div>
    <div class="bgimg">
    <br>
    <div  align="center">
        <nav>
            {% load static %}
        <a type="button" class="myButton" href="{% url 'gun:intro' %}"><span>Intro</span></a>
        <a class="myButton a" href="{% url 'gun:race' %}"><span>Race</span></a>
        <a class="myButton b" href="{% url 'gun:unemployment' %}"><span>Unemployment Rate</span></a>
        <a class="myButton c" href="{% url 'gun:poverty' %}"><span>Poverty Rate</span></a>
        <a class="myButton d" href="{% url 'gun:result' %}"><span>Result</span></a>
        </nav>
    <br>
	<div class="combo" align="left">
            <p style="font-size:14px; color: white; margin-bottom:10px;">Race Select</p>
            <select id="id_race" name="race"  style="width: 120px; height: 30px;" onchange="changeRace()">
                <option value="White">White</option>
                <option value="Asian">Asian</option>
                <option value="Black">Black</option>
            </select>
    </div>
	<br>

        <div id="btn_group" align="center">
            <input type="button" class="aA" id="test_btn1" value="map" onclick="openA(this)">
            <input type="button" class="bB" id="test_btn2" value="chart" onclick="openB(this)">
        </div>
        <br>
        <br>
        <br>
        <form>
        <div align="center">
             {% load static %}
                <div class="white">
                    <iframe id="mwhite" src ="{% static 'map/white.html' %}" style="width:650px;height:450px;margin-bottom:35px;"></iframe>
                    <img id="cwhite" src="{% static 'graph/white.png' %}" style="width:500px;height:500px;">
                </div>
                <div class="black" style="display:none">
                    <iframe id="mblack" src = "{% static 'map/black.html' %}" style="width:650px;height:450px;margin-bottom:35px;"></iframe>
                    <img id="cblack" src="{% static 'graph/black.png' %}" style="width:500px;height:500px;">
                </div>
                <div class="asian" style="display:none">
                    <iframe id="masian" src = "{% static 'map/asian.html' %}" style="width:650px;height:450px;margin-bottom:35px;"></iframe>
                    <img id="casian" src="{% static 'graph/asian.png' %}" style="width:500px;height:500px;">
                </div>
        </div>
        </form>
    </div>
    </div>
</body>

</html>